@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  background: rgba(59, 130, 246, 0.5);
  background: linear-gradient(
    90deg,
    rgba(223, 221, 251, 1) 0%,
    rgba(80, 143, 175, 1) 16%,
    rgba(171, 196, 191, 1) 32%,
    rgba(152, 222, 231, 1) 54%,
    rgba(80, 143, 175, 1) 82%,
    rgba(123, 218, 201, 1) 100%
  );
}
body {
  background-color: #a8d0ed;
}
